/*
 * Estilos de tu proyecto
 */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color:#08C9A5;
}

 header{
  position: fixed;
  background:#152747;
  width: 100%;
  top:0;
  height: 90px;

}
.menu{
 	width:100%;
 	background:000080;
 	
 	margin:0;
 	padding:0;
 }
 .menu li{
 	display:inline-block;
 	list-style: none;
 }
 .menu li a {
 	padding: 10px;
 	display: inline-block;
 	color:#fff;
 	float:left;
 }
 .menu li a: hover {
background-color: : #08C9A5;
 }